<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
    <div id="app">
        <div class="container">
            <div class="row">
                <h1>TO DO LIST</h1>
                <label for="todo">Todo Input</label>
                <input id="todo" type="text" v-model="todoElem">
                <button @click="addTodo">Aggiungi</button>
    
                <ul class="todo-ul">
                    <li class="todo-li" v-for="(elem, index) in todoArray" :key="index">{{ elem }}</li>
                </ul>

            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>